.background {
    background-color: #d9abb8;
    width: 100%;
}

.content {
    padding: 5% 15% 5% 15%;
}

.card {
    margin: 50px auto;
    background-color: #fff;
    display: flex;
    max-width: 1400px;
}

.card_image {
    width: 50%;
    height: auto;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    width: 50%;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_info .card_info_content .title{
    font-weight: bold;
    font-size: 2em;
}

.card_info .card_info_content .citation{
    margin-top: 30px;
    text-align: right;
    font-size: 1.2em;
}

.card_info .card_info_content .preview {
    margin-top: 30px;
}

.card_info .card_info_button_container {
    display: flex;
    flex-direction: row-reverse;
}

.card_info_button_container button {
    background-color: white;
    border: none;
    padding: 8px 20px;
    font-size: 1em;
    font-family: "Georgia", serif;   /* similar a la imagen */
    text-transform: lowercase;
    border-radius: 8px;              /* esquinas redondeadas */
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2); /* sombra como la imagen */
    cursor: pointer;
    transition: 0.2s ease;
}

/* hover suave */
.card_info_button_container button:hover {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}


@media (max-width: 768px) {
    .card {
        flex-direction: column;    /* imagen arriba - texto abajo */
        max-width: 95%;            /* que deje margen */
    }

    .card_image,
    .card_info {
        width: 100%;
    }

    .card_info {
        padding: 20px;
        text-align: center;        /* como en la imagen */
    }
}
